asyncpg==0.30.0
dependency-injector==4.48.2
fastapi==0.115.4
cryptography==43.0.0
pydantic==2.9.2
pydantic-settings==2.6.1
SQLAlchemy==2.0.38
uvicorn==0.32.0
passlib[bcrypt]==1.7.4
alembic==1.13.1
python-dotenv==1.0.1